{% extends "base.html" %}

{% block content %}
    <div class="center">
        <div class="head">
            <h1>Fiches signalées</h1> 
        </div> 
        <div class="element">
            {% if signalements %}
                <div class="container_fiche">
                {% for signalement in signalements %}
                    <div class="fiche_item">
                        <img src="{{ url_for('static', filename=signalement['img_url']) }}" alt="{{ signalement['matiere'] }}" class="fiches">                          
                        <p class="text">Fiche signalée par {{ signalement['username'] }} <br> Message : {{ signalement['message'] }}</p>
                        <a href="{{ url_for('supprimerfiche', id_fiche=signalement['id_fiche']) }}">
                            <button type="button" class="button">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </button>
                        </a>
                        <a href="{{ url_for('ignorer_signalement', id_signalement=signalement['id_signalement']) }}">
                            <button type="button" class="button">Ignorer le signalement</button>
                        </a>
                    </div>
                {% endfor %}
                </div>
            {% else %}
                <p class="text">Pas de signalements, tout va bien !</p>
            {% endif %}
        </div>
        <div class="element">
            <form action="{{ url_for('accueil') }}" method="get">
                <button type="submit" class="btn"> 
                    <span class="material-symbols-outlined">
                        home
                    </span>
                </button>
            </form>   
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <script>
                    alert("{{ message }}");
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
