{% extends "base.html" %}

{% block content %}
    <div class="center">
        <div class="element">
            {% if favoris == True%}*
                <form action="{{ url_for('favorite') }}" method="get">
                    <button type="submit" class="returnbtn"> 
                        <span class="material-symbols-outlined">
                            arrow_back
                        </span>
                        Revenir aux favoris
                    </button>
                </form> 
            {% else %}
                <form action="{{ url_for('fiches') }}" method="get">
                    <button type="submit" class="returnbtn"> 
                        <span class="material-symbols-outlined">
                            arrow_back
                        </span>
                        Revenir aux fiches
                    </button>
                </form>  
            {% endif %} 
        </div>
        <div class="element">
            <h1>Fiche: {{ fiche['nom'] }}, {{ fiche['abreviation'] }}</h1>
            <p class="text">
                {% if fiche['tags'] %}
                    Tags: {{ fiche['tags'] }}
                {% else %}
                    Aucun tags pour cette fiche
                {% endif %}
            </p>
        </div>
        <div class="element">
            <img src="{{ url_for('static', filename=fiche['img_url']) }}" class="fiche">
            <a href="{{ url_for('static', filename=fiche['img_url']) }}" download="fiche_Auxilium.png" style="text-decoration: none; color: inherit;">
                <button>Télécharger</button>
            </a>            
            <button id="openModalBtn" onclick="openreportModal()">
                Signaler
            </button>
            <div id="reportmodal" class="modal">
                <div class="modal-content">
                    <span class="reportclose">&times;</span>
                    <h2>Signaler</h2>
                    <form method="POST" action="{{ url_for('signaler') }}">
                        <input type="hidden" name="id_fiche" value="{{ fiche['id_fiche'] }}">
                        <textarea class="objet" name="content" placeholder="Le contenu de votre signalement" required></textarea>
                        <div id="flash-messages">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="flash-messages flash-{{ category }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                        <button type="submit">Signaler</button>
                    </form>
                </div>
            </div>
        </div> 
        <div class="element">
            <form action="{{ url_for('accueil') }}" method="get">
                <button type="submit" class="btn"> 
                    <span class="material-symbols-outlined">
                        home
                    </span>
                </button>
            </form>   
        </div>
    </div>

<script>
    function openreportModal() {
        document.getElementById('reportmodal').style.display = 'block';
    }

    function closereportModal() {
        document.getElementById('reportmodal').style.display = 'none';
    }

    window.onclick = function(event) {
        var reportmodal = document.getElementById('reportmodal');
        if (event.target == reportmodal) {
            closereportModal();
        }
    }

    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('reportmodal')) {
        openreportModal();  
    }

    document.querySelector('.reportclose').addEventListener('click', closereportModal);

      /* navbar */
  const mobileNav = document.querySelector(".hamburger");
  const navbar = document.querySelector(".menubar");

  const toggleNav = () => {
  navbar.classList.toggle("active");
  mobileNav.classList.toggle("hamburger-active");
  };
  mobileNav.addEventListener("click", () => toggleNav());

  /* Modal credits: */
  function openModal() {
      document.getElementById('modal').style.display = 'block';
      /* fermeture de la nav bar si c'est un ecran telephone et si elle est ouverte */
      if (window.innerWidth <= 768 && navbar.classList.contains("active")) {
        navbar.classList.remove("active");
        mobileNav.classList.remove("hamburger-active");
  }
  }
  function closeModal() {
      document.getElementById('modal').style.display = 'none';
  }
  window.onclick = function(event) {
      var modal = document.getElementById('modal');
      if (event.target == modal) {
          closeModal();
      }
  }
  const urlParams2 = new URLSearchParams(window.location.search);
  if (urlParams2.has('modal')) {
      openModal();  
  }
  document.querySelector('.close').addEventListener('click', closeModal);

</script>
{% endblock %}