body {
    background-color: #f8f7f9;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #92dce5;
    color: white;
    border: none;
    border-radius: 5px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.flash-messages {
    margin: 8px;
}

.menu-deroulant {
    height: 100%; 
    width: 0; 
    position: fixed;
    top: 0;
    right: 0; 
    background-color: #fcafe9;
    overflow-x: hidden; 
    transition: 0.5s; 
    padding-top: 60px; 
}

.menu-deroulant a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}


.menu-deroulant .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 30px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #fcafe9;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
