<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Auxilium</title>
</head>
<body>
    <h1> Bienvenue sur Auxilium </h1>
    <p class="text"> Le site web de partage de fiches de révisions du lycée Lucie Aubrac à Bollène ! </p>
    <button> Explorer </button>
    <button class="openbtn" id="openModalBtn" onclick="openModal()">
        <img class="user" src="https://i.imgur.com/MYQ6XOj.png" alt="Icon"> 
        compte
      </button>

    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Connexion</h2>
            <form method="POST" action="{{ url_for('login') }}">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" name="username" required>
                
                <label for="password">Mot de passe</label>
                <input type="password" name="password" required>
                
                <!-- Section pour les messages flash -->
            <div id="flash-messages">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="flash-messages flash-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
                <p>Vous n'avez pas de compte ? <a href="/inscription">Inscrivez-vous ici</a></p>
                <button type="submit">Se connecter</button>
            </form>
        </div>
    </div>

    <!-- Script pour gérer le modal -->
    <script>
        // Fonction pour ouvrir le modal
        function openModal() {
            document.getElementById('loginModal').style.display = 'block';
        }

        // Fonction pour fermer le modal
        function closeModal() {
            document.getElementById('loginModal').style.display = 'none';
        }

        // Fermer le modal quand on clique en dehors
        window.onclick = function(event) {
            var modal = document.getElementById('loginModal');
            if (event.target == modal) {
                closeModal();
            }
        }

        // Vérifier si "modal=True" est dans l'URL
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('modal')) {
            openModal();  // Ouvrir le modal si le paramètre "modal" est présent
        }

        // Ajouter un event listener pour fermer le modal quand on clique sur la croix
        document.querySelector('.close').addEventListener('click', closeModal);
    </script>
</body>
</html>