{% extends "base.html" %}

{% block content %}
    <div class="title">
        <div class="element">
            <h1>Bienvenue sur Auxilium</h1>
        </div>
        <div class="element">
            <form action="{{ url_for('search') }}" method="get"  class="search">
                <input type="search" name="search" id="recherche" placeholder="Rechercher une fiche..." class="searchbar">
                <button class="searchbtn">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </button>
            </form>            
        </div>
        <div class="element">
            <form action="{{ url_for('fiches') }}" method="get">
                <button type="submit" style="margin-top: 20px;"> Explorer </button>
            </form>
        </div>
    </div>
    <form action="{{ url_for('addcard') }}" method="get">
        <button type="submit" class="btn"> 
            <span class="material-symbols-outlined">
                add_circle
            </span>    
        </button>
    </form>    

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
          <script>
              alert("{{ message }}");
          </script>
      {% endfor %}
    {% endif %}
  {% endwith %}

{% endblock %}
