<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Auxilium</title>
</head>
<body>
    <h1> Bienvenue sur Auxilium </h1>
    <p> Le site web de partage de fiches de révisions du lycée Lucie Aubrac à Bollène ! </p>
    <button> Partagez votre fiche de révisions </button>
    <button> Rechercher une fiche de révisions </button>

    <button id="openModalBtn">Compte</button>

    <div id="myModal" class="modal" role="dialog" aria-labelledby="modalTitle" aria-modal="true">
        <div class="modal-content">
            <span class="close" aria-label="Fermer le modal">&times;</span>
            <h2 id="modalTitle">Connexion</h2>
            
            <!-- Espace pour afficher les messages flash -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            
            <form method="POST" action="/login">
                <input type="text" name="username" placeholder="Nom d'utilisateur" required>
                <input type="password" name="password" placeholder="Mot de passe" required>
                <button type="submit">Se connecter</button>
                <p>Vous n'avez pas de compte ? <a href="/inscription">Inscrivez-vous ici</a></p>
            </form>
        </div>
    </div>
    

    <script>
        const modal = document.getElementById("myModal");
        const openModalBtn = document.getElementById("openModalBtn");
        const closeModalBtn = document.getElementsByClassName("close")[0];

        openModalBtn.onclick = function() {
            modal.style.display = "block";
        }

        closeModalBtn.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>

