<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Auxilium</title>
</head>
<body>
<nav>
    <div class="logo">
        <span class="material-symbols-outlined">
            account_circle
        </span>
        <p>{{ username }}</p>  
    </div>
    <ul>
      {% if perm %}
        <li>
          <a href="{{ url_for('checkrequest') }}"">Ajout fiches</a>
        </li>
        <li>
          <a href="{{ url_for('checkreport') }}">Signalements</a>
        </li>
        <li>
          <a href="{{ url_for('listuser') }}">Utilisateurs</a>
        </li>
      {% endif %}
      <li>
        <a href="{{ url_for('userrequest') }}">Vos fiches</a>
      </li>
      <li>
        <a href="{{ url_for('userreport') }}">Vos signalements</a>
      </li>
      <li>
        <a href="#" onclick="openModal()">Credits</a>
      </li>
      <li>
        <a href="mailto:luccas3684@gmail.com?subject=Auxilium">Contact</a>
      </li>
      <li>
        <a href="{{ url_for('logout') }}">Deconnexion</a>  
      </li>
    </ul>
    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    </nav>
    <div class="menubar">
      <ul>
      {% if perm %}
          <li>
            <a href="{{ url_for('checkrequest') }}"">Ajouts fiches</a>
          </li>
          <li>
            <a href="{{ url_for('checkreport') }}">Signalements</a>
          </li>
          <li>
            <a href="{{ url_for('listuser') }}"> Utilisateurs</a>
          </li>
      {% endif %}
      <li>
        <a href="{{ url_for('userrequest') }}">Vos fiches</a>
      </li>
      <li>
        <a href="{{ url_for('userreport') }}">Vos signalements</a>
      </li>
      <li>
        <a href="#" onclick="openModal()">Credits</a>
      </li>
      <li>
        <a href="mailto:luccas3684@gmail.com?subject=Auxilium">Contact</a>
      </li>
      <li>
        <a href="{{ url_for('logout') }}">Deconnexion</a>  
      </li>
    </ul>
  </div> 
  <div id="modal" class="credit_modal">
    <div class="credit-modal-content">
        <a href="https://github.com/lucfly27">
            <img src="{{ url_for('static', filename='logo_lj.png') }}" class="user" alt="Icon">
        </a>
        <span class="close">&times;</span>
        <h3 class="text"> Credits: </h3>
        <p class="text"> Developpeur: <br> Luccas Garcia-Aubert </p>
        <p class="text"> Superviseur: <br> Mr. Falques </p>
        <a class="text" href="https://github.com/lucfly27/auxilium">Github du projet</a>
    </div>
  </div>
  <main>
     {% block content %}{% endblock %}
  </main>
</body>
<script>
  /* Modal credits: */
  function openModal() {
      document.getElementById('modal').style.display = 'block';
  }
  function closeModal() {
      document.getElementById('modal').style.display = 'none';
  }
  window.onclick = function(event) {
      var modal = document.getElementById('modal');
      if (event.target == modal) {
          closeModal();
      }
  }
  const urlParams = new URLSearchParams(window.location.search);
  if (urlParams.has('modal')) {
      openModal();  
  }
  document.querySelector('.close').addEventListener('click', closeModal);

  /* navbar */
  const mobileNav = document.querySelector(".hamburger");
  const navbar = document.querySelector(".menubar");

  const toggleNav = () => {
  navbar.classList.toggle("active");
  mobileNav.classList.toggle("hamburger-active");
  };
  mobileNav.addEventListener("click", () => toggleNav());
</script>
</html>