{% extends "base.html" %}

{% block content %}
    <div class="center">
        <div class="element">
            <h1>Fiche: {{ fiche['nom'] }}, {{ fiche['abreviation'] }}</h1>
            <p class="text">Tags : {{ fiche['tags'] }}</p>
        </div>
        <div class="element">
            <img src="{{ url_for('static', filename=fiche['img_url']) }}" class="fiche">
            <a href="{{ url_for('static', filename=fiche['img_url']) }}" download="fiche_Auxilium.png" style="text-decoration: none; color: inherit;">
                <button>Télécharger</button>
            </a>            
            <button id="openModalBtn" onclick="openModal()">
                Signaler
            </button>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Signaler</h2>
                    <form method="POST" action="{{ url_for('signaler') }}">
                        <input type="hidden" name="id_fiche" value="{{ fiche['id_fiche'] }}">
                        <textarea class="objet" name="content" placeholder="Le contenu de votre signalement" required></textarea>
                        <div id="flash-messages">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="flash-messages flash-{{ category }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                        <button type="submit">Signaler</button>
                    </form>
                </div>
            </div>
        </div> 
        <div class="element">
            <form action="{{ url_for('accueil') }}" method="get">
                <button type="submit" class="btn"> 
                    <span class="material-symbols-outlined">
                        home
                    </span>
                </button>
            </form>   
        </div>
    </div>

<script>
    function openModal() {
        document.getElementById('modal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('modal').style.display = 'none';
    }

    window.onclick = function(event) {
        var modal = document.getElementById('modal');
        if (event.target == modal) {
            closeModal();
        }
    }

    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('modal')) {
        openModal();  
    }

    document.querySelector('.close').addEventListener('click', closeModal);
</script>
{% endblock %}