<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Auxilium</title>
</head>
<body>
    <div class="center">
        <div class="element">
            <h1>{{ fiche['nom'] }}, {{ fiche['abreviation'] }}</h1>
        </div>
        <div class="element">
            <img src="{{ url_for('static', filename=fiche['img_url']) }}" class="fiche">
            <a href="{{ url_for('static', filename=fiche['img_url']) }}" download="fiche_Auxilium.png" style="text-decoration: none; color: inherit;">
                <button>Télécharger</button>
            </a>            
            <button id="openModalBtn" onclick="openModal()">
                Signaler
            </button>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Signaler</h2>
                    <form method="POST" action="{{ url_for('signaler') }}">
                        <label for="object">Objet</label>
                        <input type="text" name="object" required>
                        <label for="content">Contenu</label>
                        <input class="objet" type="text" name="content" required>
                        <button type="submit">Signaler</button>
                    </form>
                </div>
            </div>
        </div> 
        <div class="element">
            <form action="{{ url_for('fiches') }}" method="get">
                <button type="submit" class="fixbtn"> Retour aux fiches</button>
            </form>   
        </div>
    </div>
</body>
<script>
    function openModal() {
        document.getElementById('modal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('modal').style.display = 'none';
    }

    window.onclick = function(event) {
        var modal = document.getElementById('modal');
        if (event.target == modal) {
            closeModal();
        }
    }

    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('modal')) {
        openModal();  
    }

    document.querySelector('.close').addEventListener('click', closeModal);
</script>
</html>