<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Auxilium</title>
</head>
<body>
    <h1>Bienvenue sur Auxilium !</h1>
    <input class = search id="recherche" type="search" placeholder="Rechercher une fiche"> 
    <a href="{{ url_for('addcard') }}" class="addbtn"> + </a>
    <button class="openbtn" onclick="openMenu()">
        <img class="user" src="{{ url_for('static', filename='user.png') }}" alt="Icon"> 
        {{ username }}
      </button>
      
    <div id="menuDeroulant" class="menu-deroulant">
        <img src="{{ url_for('static', filename='user.png')}}" class="usermd" alt ="Icon">
        <img src="{{ url_for('static', filename='close.png')}}" class="closebtn" onclick="closeMenu()" alt="Close" style="cursor: pointer;">
        <a href="{{ url_for('logout') }}">Deconnexion</a>
    </div>

    <script>
        function openMenu() {
            document.getElementById("menuDeroulant").style.width = "200px";
        }
    
        function closeMenu() {
            document.getElementById("menuDeroulant").style.width = "0";
        }
    </script>

</body>
</html>
