<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Auxilium</title>
</head>
<body>
    <div class="center">
        <div class="head">
            <h1>Liste utilisateurs:</h1>
        </div>
        <div class="element">
            <table>
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Droits admin</th>
                    <th>Supprimer utilisateur</th>
                  </tr>
                </thead>
                <tbody>
                {% for utilisateur in utilisateurs %}
                    {% if utilisateur['id_utilisateur'] %}
                    <tr>
                        <td> {{ utilisateur['id_utilisateur'] }} </td>
                        <td> {{ utilisateur['username'] }} </td>
                        <td> {{ utilisateur['email'] }} </td>
                        <td>
                        {% if utilisateur['admin_perm'] == 1 %}
                          <form action="/removeadmin/{{ utilisateur['id_utilisateur'] }}" method="GET">
                            <button type="submit" class="button">
                              <span class="material-symbols-outlined">
                                remove
                              </span>
                            </button>
                          </form>                         
                        {% elif utilisateur['admin_perm'] == 0 %}
                          <form action="/addadmin/{{ utilisateur['id_utilisateur'] }}" method="GET">
                            <button type="submit" class="button">
                              <span class="material-symbols-outlined">
                                add
                              </span>
                            </button>
                          </form>                        
                        {% endif %}
                        </td>
                        <td>
                          <form action="/supprimerutilisateur/{{ utilisateur['id_utilisateur'] }}" method="GET">
                            <button type="submit" class="button">
                                <span class="material-symbols-outlined">
                                  delete
                                </span>
                            </button>
                          </form> 
                        </td>
                      </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="element">
          <form action="{{ url_for('home') }}" method="get">
              <button type="submit" class="btn"> 
                  <span class="material-symbols-outlined">
                      home
                  </span>
              </button>
          </form>   
      </div>
    </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
          <script>
              alert("{{ message }}");
          </script>
      {% endfor %}
    {% endif %}
  {% endwith %}

</body>
</html>