<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=home" />
    <title>Auxilium</title>
</head>
<body>
    <div class="center">
        <div class="head">
            <h1>Vos fiches:</h1>  
        </div>
        <div class="element">
                {% if fiches %}
                    <div class="container_fiche">
                    {% for fiche in fiches %}
                            {% if fiche['img_url'] %}
                                <div class="fiche_item">
                                    <div class="element">
                                        <p class="text">Fiche: {{ fiche['nom'] }}, {{ fiche['abreviation'] }} <br> Tags : {{ fiche['tags'] }}</p>
                                    </div>
                                    <div class="element">
                                        <img src="{{ url_for('static', filename=fiche['img_url']) }}" class="fiches">
                                            {% if fiche['img_check'] == 1 %} 
                                                <p class="text"> Votre fiche a été acceptée </p>
                                            {% elif fiche['img_check'] == 0 %}
                                                <p class="text"> Votre fiche n'a pas encore été acceptée </p>
                                            {% endif %}
                                    </div> 
                                </div>
                            {% endif %}
                    {% endfor %}
                    </div>
                {% else %}
                    <p class="text">Vous n'avez ajoutée aucune fiche </p>
                {% endif %}
            <div class="element">
                <form action="{{ url_for('home') }}" method="get">
                    <button type="submit" class="btn"> 
                        <span class="material-symbols-outlined">
                            home
                        </span>
                    </button>
                </form>   
            </div>
        </div>
    </div>
</body>