<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=home" />
    <title>Auxilium</title>
</head>
<body>
    <div class="center">
        <div class="head">
            <h1 class="text">Fiches signalées :</h1>  
            <p class="text">Si votre signalement n'apparaît pas, ne vous inquiétez pas, il a sûrement déjà été traité</p>
        </div>
        <div class="element">
                {% if signalements %}
                    <div class="container_fiche">
                    {% for signalement in signalements %}
                        <div class="fiche_item">
                            <img src="{{ url_for('static', filename=signalement['img_url']) }}" alt="{{ signalement['matiere'] }}" class="fiches">                          
                            <p class="text">Message : {{ signalement['message'] }}</p>
                        </div>
                    {% endfor %}
                    </div> 
                {% else %}
                    <p class="text">Vous n'avez signalé aucune fiche ou vos fiches signalées ont été traitées</p>
                {% endif %}
        </div>
        <div class="element">
            <form action="{{ url_for('home') }}" method="get">
                <button type="submit" class="btn"> 
                    <span class="material-symbols-outlined">
                        home
                    </span>
                </button>
            </form>   
        </div>
    </div>
</body>
</html>