{% extends "base.html" %}

{% block content %}
    <div class="center">
        <div class="head">
            <h1>Fiches signalées</h1>  
            <p class="text">Si votre signalement n'apparaît pas, ne vous inquiétez pas, il a sûrement déjà été traité</p>
        </div>
        <div class="element">
                {% if signalements %}
                    <div class="container_fiche">
                    {% for signalement in signalements %}
                        <div class="fiche_item">
                            <img src="{{ url_for('static', filename=signalement['img_url']) }}" alt="{{ signalement['matiere'] }}" class="fiches">                          
                            <p class="text">Message : {{ signalement['message'] }}</p>
                        </div>
                    {% endfor %}
                    </div> 
                {% else %}
                    <p class="text">Aucun signalement</p>
                {% endif %}
        </div>
        <div class="element">
            <form action="{{ url_for('accueil') }}" method="get">
                <button type="submit" class="btn"> 
                    <span class="material-symbols-outlined">
                        home
                    </span>
                </button>
            </form>   
        </div>
    </div>
{% endblock %}